body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    @media only screen and (max-device-width: 768px)
    {
    flex-direction: column;
    }
}
.nav{
    background-color: rgba(255, 67, 81, 0.73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 29vw;
    height: 100vh;
    position: fixed;
    @media only screen and (max-device-width: 768px)
    {
        width: 100vw;
        height: 100vw;
        flex-direction: column-reverse;
    }
    .photo{
        img{
            border: 5px solid rgba(255, 255, 255, 0.87);
            box-sizing: border-box;
            border-radius: 100px;
            width: 200px;
            height: 200px;
        }
        @media only screen and (max-device-width: 768px)
        {
          display: none;  
        }
    }
    .navBar{
        ul{
            display: flex;
            flex-direction: column;
            padding-right: 30px;
            @media only screen and (max-device-width: 768px)
            {
                
            }
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 800;
                font-size: 23px;
                line-height: 28px;
                color: #FFFFFF;
                border-radius: 33.5px;
                width: 160px;
                height: 67px;
                z-index: 1;
                transition: background-color 300ms;
                border: 1px solid transparent;
                background-color: violet;
                cursor: pointer;
                @media only screen and (max-device-width: 768px)
                {

                }
                &:hover{
                    background-color:rgba(255, 255, 255, 0.11);
                    border: 1px solid rgba(255, 255, 255, 0.11);
                }
                &:active{
                    background-color: rgba(255, 255, 255, 0.05);
                    border: 1px solid rgba(255, 67, 81, 0.35);
                }
            }
        }
    }
}
//Burger button
.burger{
    position: relative;
    top: 2vh;
    left: 0vw;
    display: none;
    background-color: #FFF;
    width: 43px;
    height: 10px;
    border-radius: 19.5px;
    transition: 250ms ease-in-out;
    @media only screen and (max-device-width: 768px)
    {
      display: block;
    }
    &::before{
        content: "";
        position: absolute;
        background-color: #FFF;
        width: 43px;
        height: 10px;
        border-radius: 19.5px;
        top: 110%;
        transition: transform 250ms ease-in-out;
    }
    &::after{
        content: "";
        position: absolute;
        background-color: #FFF;
        width: 43px;
        height: 10px;
        border-radius: 19.5px;
        top: -110%;
        transition: transform 250ms ease-in-out;
    }
    &.active{
        background-color: transparent;
        &::before{
            content: "";
            position: absolute;
            background-color: #FFF;
            width: 43px;
            height: 10px;
            border-radius: 19.5px;
            top: 110%;
            transform: translateY(-110%) rotate(45deg);
        }
        &::after{
            content: "";
            position: absolute;
            background-color: #FFF;
            width: 43px;
            height: 10px;
            border-radius: 19.5px;
            top: -110%;
            transform: translateY(110%) rotate(-45deg);
        }
    }
}
main{
    width: 71vw;
    padding-left: 29vw;
    @media only screen and (max-device-width: 768px)
    {
        padding: 0;
    }
}
section{
    height: 100vh;
    padding: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-device-width: 374px)
    {
        
    }
}
.about{
    position: relative;
    .bigName{
        display: flex;
        position: absolute;
        left: 60px;
        top: 170px;
        .jimmy{
            font-family: Montserrat;
            font-weight: 800;
            font-size: 70px;
            line-height: 85px;
            letter-spacing: -0.07em;   
            color: rgba(0, 0, 0, 0.7);
            @media only screen and (max-device-width: 768px)
            {
                font-size: 50px;
            }
            @media only screen and (max-device-width: 374px)
            {
                font-size: 30px;
            }   
        }
        .pez{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 70px;
            line-height: 85px;
            letter-spacing: -0.07em;
            color: rgba(255, 67, 81, 0.73);
            @media only screen and (max-device-width: 768px)
            {
                font-size: 50px;
            }
            @media only screen and (max-device-width: 374px)
            {
                font-size: 30px;
            } 
        }
    }
    h2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: -0.07em;
        color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 60px;
        top: 270px;
        @media only screen and (max-device-width: 768px)
        {
           font-size: 20px; 
           width: 290px;
        }
        @media only screen and (max-device-width: 374px)
        {
            font-size: 14px;
            background-color: turquoise;
            width: 205px;
        } 
    }
    .presentation{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;    
        color: rgba(0, 0, 0, 0.45);
        position: absolute;
        top: 398px;
        left: 110px;
        max-width: 800px;
        @media only screen and (max-device-width: 768px)
        {
           font-size: 18px;
           top: 350px;
           left: 70px;
           width: 300px;
        }
        @media only screen and (max-device-width: 374px)
        {
           font-size: 15px;
           top: 350px;
           left: 30px;
           width: 300px;
        }
    }
    .socialMediaContainer{
        display: flex;
        position: absolute;
        top: 510px;
        left: 110px;
        width: auto;
        height: auto;
        background-color: yellowgreen;
        a{
            img{
                width: 50px;
                height: 50px;
                margin: 5px;
            }
        }
    }
    @media only screen and (max-device-width: 768px)
    {
    }
}
.experience{

}
.education{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: -0.05em;
        color: rgba(255, 67, 81, 0.73);
    }
    .event{
        .eventDate{
            display: flex;
            justify-content: space-between;
            h4{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.05em;
                color: rgba(0, 0, 0, 0.7);      
            }  
        }
        h5{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.05em;
            color: rgba(0, 0, 0, 0.5);
            max-width: 800px;
        }
        .description{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.05em;
            color: rgba(0, 0, 0, 0.5);
            max-width: 800px;
            line-height: 1.5;
        }
    }
}
.skills{

}
.interests{
    h3{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: -0.05em;
        color: rgba(255, 67, 81, 0.73);
        padding-bottom: 33px;
    }
    .myInterests{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.05em;
        color: rgba(0, 0, 0, 0.5);
        line-height: 1.5;
        max-width: 800px;
    }
}